:root {
  /* PALETA DE CORES */
  --black: #000000;
  --blue: #14213D;
  --orange: #FCA311;
  --platinum: #E5E5E5;
  --white: #FFFFFF;
}
body {
  background: var(--blue);
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Arial Black";
  font-style: italic;
  text-decoration: none;
  font-size: 24px;
  color: var(--platinum);
}
body h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}
body p {
  font-family: 'Carter One', cursive;
}
@media (min-width: 500px) {
  body #header {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  body #header .image {
    width: 100%;
    height: 300px;
    margin: 0;
    display: flex;
  }
  body #header .image .back {
    width: 100%;
    filter: blur(5px);
    z-index: 0;
    position: absolute;
    height: 300px;
  }
  body #header .image .front {
    margin: auto;
    height: inherit;
    position: relative;
    z-index: 1;
  }
  body #header .controls {
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
  }
  body #header .controls div.prev,
  body #header .controls div.next {
    width: 100px;
    display: flex;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-style: normal;
  }
  body #header .controls .prev {
    margin: 0 auto 0 0;
  }
  body #header .controls .next {
    margin: 0 0 0 auto;
  }
  body #header .controls .title {
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 50px;
    z-index: 2;
    align-items: center;
    margin: auto auto 0 auto;
    border-radius: 15px 15px 0 0;
    background-color: #000000;
  }
  body #header .hidden {
    display: none;
  }
}
@media (max-width: 499px) {
  body #header {
    display: none;
  }
}
body .main-title {
  width: 100%;
  display: flex;
  z-index: 1;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto auto auto;
  background-color: var(--black);
  cursor: pointer;
}
body .main-title a,
body .main-title a:visited,
body .main-title a:active {
  font-family: "Arial Black";
  font-style: italic;
  text-decoration: none;
  font-size: 24px;
  color: var(--platinum);
}
body #content {
  color: var(--platinum);
  margin: 50px auto;
  width: 100%;
}
@media (max-width: 920px) {
  body #content {
    width: 90%;
    margin-top: 15px;
  }
}
body #content .episodes-container {
  width: 100%;
  transition: opacity 2s;
  opacity: 1;
}
@media (min-width: 920px) {
  body #content .episodes-container {
    display: none;
    grid-template-columns: auto auto;
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 919px) {
  body #content .episodes-container {
    flex-direction: column;
  }
}
body #content .staff-container {
  display: flex;
}
@media (min-width: 920px) {
  body #content .staff-container {
    grid-template-columns: auto auto;
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 919px) {
  body #content .staff-container {
    flex-direction: column;
  }
}
body #content .episode {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 400px;
  border-radius: 15px;
  background-color: var(--black);
  margin: 0px auto 50px auto;
}
@media (max-width: 919px) {
  body #content .episode {
    width: 90%;
  }
}
body #content .episode .img {
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px auto 10px auto;
}
body #content .episode .title {
  text-align: center;
  margin: 15px;
}
body #content .episode .desc {
  margin: 15px;
}
body #content .episode .desc a,
body #content .episode .desc a:visited,
body #content .episode .desc a:active {
  color: var(--orange);
}
body #content .episode .fixed-desc {
  margin: auto 15px 15px 15px;
}
body #content .episode audio {
  display: flex;
  margin: 0 auto 20px auto;
}
@media (min-width: 920px) {
  body #content .selected-episode {
    display: grid;
    width: 400px;
    border-radius: 15px;
    background-color: var(--black);
    margin: 0px auto 50px auto;
    width: 90%;
    grid-template-columns: 30% 60% 5%;
    grid-column-gap: 3%;
    grid-row-gap: 30px;
    padding: 30px;
  }
  body #content .selected-episode .img {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  body #content .selected-episode .title {
    font-size: 50px;
    grid-column: 2;
    grid-row: 1;
  }
  body #content .selected-episode .desc,
  body #content .selected-episode .fixed-desc,
  body #content .selected-episode audio {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  body #content .selected-episode .close-button {
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 50px;
    display: flex;
    align-items: top;
    justify-content: center;
    cursor: pointer;
    margin: 0;
  }
}
@media (max-width: 919px) {
  body #content .selected-episode .close-button {
    display: flex;
    justify-content: right;
    width: 90%;
  }
}
body #content .loading-content {
  transition: opacity 2s;
  opacity: 1;
}
body #content .loading-content .loading-container {
  display: flex;
  position: relative;
  margin: auto;
  width: 498px;
  height: 373px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
body #content .loading-content .loading-container img {
  position: absolute;
}
body #content .loading-content .loading-text {
  font-family: "Arial Black";
  font-style: italic;
  display: flex;
  width: fit-content;
  margin: auto;
  font-size: 32px;
}
body footer {
  color: white;
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #000000;
}
body .hidden {
  opacity: 0 !important;
}
