:root {
    /* PALETA DE CORES */
    --black: #000000;
    --blue: #14213D;
    --orange: #FCA311;
    --platinum: #E5E5E5;
    --white: #FFFFFF;
}

body {
    background: var(--blue);
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    #header {
        width: 100%;
        max-height: 250px;
        margin: 0;
        display: flex;

        img {
            width: 100%;
            margin: 0;
        }
    }
    .menu{
        width: 100%;
        display: flex;
        margin: 0 auto auto auto;
        background-color: var(--black);

        a,
        a:visited,
        a:active {
            font-family: "Arial Black";
            font-style: italic;
            text-decoration: none;
            font-size: 24px;
            color: var(--platinum);
        }

        .item{
            max-width: calc(100% / 3);
            min-width: 200px;
            height: 50px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            
            @media (max-width: 919px) {
                min-width:0;
            }
        }
    }
    #content {
        color: var(--platinum);
        margin: 50px auto;
        width: 100%;

        @media (max-width: 920px) {
            width: 90%;
        }

        .episodes-container{
            width: 100%;
            transition: opacity 2s;
            opacity: 1;

            @media (min-width: 920px) {
                display: none;
                grid-template-columns: auto auto;
                width: 70%;
                margin: 0 auto;
            }

            @media (max-width: 919px) {
                flex-direction: column;
            }
        }
        .staff-container{
            display: flex;

            @media (min-width: 920px) {
                grid-template-columns: auto auto;
                width: 70%;
                margin: 0 auto;
            }

            @media (max-width: 919px) {
                flex-direction: column;
            }
        }
        .episode, .staff {
            display: flex;
            flex-direction: column;
            width: 400px;
            border-radius: 15px;
            background-color: var(--black);
            margin: 0px auto 50px auto;

            @media (max-width: 919px) {
                width: 90%;
            }

            .img {
                width: 50%;
                border-radius: 10px;
                overflow: hidden;
                margin: 30px auto 10px auto;
            }

            .title {
                text-align: center;
                margin: 15px;
            }

            .desc {
                margin: 15px;

                a,
                a:visited,
                a:active {
                    color: var(--orange);
                }
            }

            .fixed-desc {
                margin: auto 15px 15px 15px;
            }

            audio {
                display: flex;
                margin: 0 auto 20px auto;
            }
        }
        .loading-content{
            transition: opacity 2s;
            opacity: 1;

            .loading-container{
                display: flex;
                position: relative;
                margin: auto;
                width: 498px;
                height: 373px;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                img{
                    position: absolute;
                }
            }
            .loading-text{
                font-family: "Arial Black";
                font-style: italic;
                display: flex;
                width: fit-content;
                margin: auto;
                font-size: 32px;
            }
        }
    }
    footer{
        color: white;
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #000000;
    }
    .hidden{
        opacity: 0!important;
    }
}